@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Micah Fischer
   Date:   11-9-18
	
   Filename: br_styles.css
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

/* A subtle radial gradient in the html background. */
html {
    background-image: radial-gradient(white, rgb(240, 240, 240));
}

/* A nav with a linear gradient across, with progressive enhancement. Box shadow added to the nav bar. Overflow x for scrolling nav on smaller devices. */
nav {
    background-color: #21D4FD;
    background-image: linear-gradient(-19deg, #21D4FD 0%, #3e21ff 100%);
    display: block;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    overflow-x: auto;
}

/* Nav links with a 2 pixel white solid border. 40 pixel border radius applied to create rounded border edges.*/
nav a {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat',
        sans-serif;
    text-align: center;
    padding: 10px;
    border: 2px white solid;
    border-radius: 40px;
    margin: 4px;
    min-width: 160px;
}

/* A border radius of 40 pixels and white background on hover. */
nav a:hover {
    background: white;
    color: black;
    border-radius: 40px;
}

h1 {
    color: black;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 32px;
    line-height: 32px;
    padding: 20px 0;
    text-align: center;
}

h2 {
    color: rgb(46, 93, 131);
    font-family: 'Montserrat',
        sans-serif;
    font-size: 22px;
    line-height: 22px;
    padding: 0 0 20px;
    text-align: center;
}

/* Text shadow with no offset applied to span inside the span element within h2. */
h2 span {
    color: rgb(58, 137, 202);
    font-weight: bold;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

/* A header with a height of 450. A background image added with a size of cover to span the full height and width of the image. Greyscale and brightness filters applied to header. */
header {
    display: block;
    height: 450px;
    background: url("https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=47b4b88e2825332da6fb93898562051c&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    filter: grayscale(.5) brightness(125%);
}

/* Article with a drop shadow applied. Offset 0 horizontally and 10px vertically. Shadow color of transparent black. Margin of -100px to
have article overlap the header. */
article {
    width: 80%;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.25));
    margin: -100px auto 0;
}

article h1 {
    background: white;
    color: black;
    text-align: left;
    padding: 20px;
}

article p {
    background: white;
    color: black;
    text-align: left;
    padding: 6px 20px;
    font-family: 'Montserrat', sans-serif;
}

article section.grid {
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Linear gradient at -19deg angle. Light blue at 0% stop, dark blue at 100% stop. */
article section.grid p {
    background-color: #21D4FD;
    background-image: linear-gradient(-19deg, #21D4FD 0%, #3e21ff 100%);
    color: white;
    margin: 0 4px 4px;
}

img {
    padding: 4px;
    width: 100%;
    display: block;
    transition: .2s;
}

/* Image scales on hover smoothly due to transition applied to images in style above. */
img:hover {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
    transform: scale(1.02);
}

@media only screen and (max-width: 800px) {
    article section.grid {
        grid-template-columns: 1fr;
    }
}